
@model IList<ABCRestaurant.Web.Models.Menu>
@{
    Layout = "~/Views/Shared/_HaderLayout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/css/Menu/MenuStyleSheet.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
@if (Model != null)
{
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.Count(); i++)
            {

                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <a href="#">
                                <img class="pic-1" src="~/images/Chicken-Burger.jpg">
                                <img class="pic-2" src="~/images/fillet-burger1-690x400.jpg">
                            </a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">@Model[i].Description</a></h3>
                            <div class="price">
                                $@Model[i].Price
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

}
