@model ABCRestaurant.Web.Models.Menu;
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_HaderLayout.cshtml";
}
<link href="~/css/style.css" rel="stylesheet" />
<script src="~/js/Order.js"></script>
<section class="blog__list__view section-padding--lg menudetails-right-sidebar bg--white">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12">
                <div class="food__menu__container">
                    <div class="food__menu__inner d-flex flex-wrap flex-md-nowrap flex-lg-nowrap">
                        <div class="food__menu__thumb">
                            <img src="~/images/fillet-burger1-690x400.jpg" alt="images" height="370" width="490">
                        </div>
                        <div class="food__menu__details">
                            <div class="food__menu__content">
                                <h2>@Model.Description</h2>
                                <ul class="food__dtl__prize d-flex">
                                    <li id="priceAmount">@Model.Price</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp incid dunt ut labo dolore magna aliqua. Ut enim ad minim veniaquis nostrud exercit ullamco laboris nisi ut aliq.</p>
                                <div class="product-action-wrap">
                                    <div class="prodict-statas"><span>@Model.Name : @Model.Description</span></div>
                                    <div class="product-quantity">
                                        <form id="myform" method="POST" action="#">
                                            <div class="product-quantity">
                                                <div class="cart-plus-minus">
                                                    <div class="list__btn">
                                                        <input id="qtytxt" class="cart-plus-minus-box" type="text" name="qtybutton" value="01">
                                                    </div>
                                                    <div class="cart-plus-minus" style="margin-top:80px">
                                                        <a class="food__btn grey--btn theme--hover" href="" onclick="OrderNow()">Order Now</a>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Product Descrive Area -->
                    <div class="menu__descrive__area">
                        <div id="user" class="menu__nav nav nav-tabs" role="tablist">
                            <select id="userSelection" class="menu__nav">
                                <option value="0">Select The User</option>
                            </select>
                        </div>
                        <div class="menu__nav nav nav-tabs" role="tablist">
                            <a class="active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab">Description</a>
                        </div>
                        <!-- Start Tab Content -->
                        <div class="menu__tab__content tab-content" id="nav-tabContent">
                            <!-- Start Single Content -->
                            <div class="single__dec__content fade show active" id="nav-all" role="tabpanel">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui comi modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumfugiat nu pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor dolore magna aliqua. Ut enim  minim veniam, <strong>“quis nostrud exercitation ullamco laboris nisi ut aliqui ”</strong> modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumfugiat nu pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                            </div>
                        </div>
                        <!-- End Tab Content -->
                    </div>
                    <!-- End Product Descrive Area -->
                </div>
            </div>
        </div>
    </div>
</section>

